#admin-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
    margin-top: 110px;
}

#admin-page-titulo {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 30px;
}

#admin-actions-container {
    display: flex;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    justify-content: center;
    flex-wrap: wrap;
}

.admin-action-button {
    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    color: white;
    background-color: #ff6f00;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    min-width: 150px;
}

.admin-action-button:hover {
    background-color: #ffb803;
}

.nuevo-boton-admin {
    background-color: #ffb803;
}

.nuevo-boton-admin:hover {
    background-color: #ff6f00;
}