#inicio-container {
    margin-top: 100px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border: 2px solid #ffb73c;
    border-radius: 10px;
    background-color: rgb(255, 244, 217);
    color: black;
    text-align: center;
}

#inicio-titulo {
    text-align: center;
    color: orange;
}

#inicio-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

#inicio-usuario,
#inicio-contrasena {
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
}

#inicio-boton {
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#inicio-boton:hover {
    background-color: #f89500;
}

#inicio-error {
    margin-top: 15px;
    color: red;
    text-align: center;
}