#registro-contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 20px;
    background: linear-gradient(45deg, #ff6f00, rgba(255, 204, 103, 0.8), #ffb803);
    background-size: 300% 100%;
    animation: moverDegradadoRegistro 10s ease infinite;
}

#registro-titulo {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 3px;
    text-shadow: 2px 2px 4px rgb(255, 184, 3);
    margin-bottom: 30px;
}

#registro-formulario {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 150px;
}

#registro-formulario label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

.registro-input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.registro-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.registro-toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

#registro-boton {
    background-color: #ffb803;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#registro-boton:hover {
    background-color: #ff6f00;
}

#registro-error {
    color: #ff0303;
    margin-top: 10px;
    text-align: center;
}

#registro-login-link {
    margin-top: 20px;
    text-align: center;
    color: #000000;
}

#registro-login-link a {
    color: #ff6f00;
    text-decoration: none;
}

#registro-login-link a:hover {
    text-decoration: underline;
}

@keyframes moverDegradadoRegistro {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}