#registro-container {
    margin-top: 100px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border: 2px solid rgb(255, 111, 0);
    border-radius: 10px;
    background-color: rgb(255, 184, 3);
    color: rgb(255, 255, 255);
    text-align: center;
}

#registro-titulo {
    text-align: center;
    color: #ffffff;
}

#registro-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

#registro-usuario,
#registro-contrasena {
    padding: 10px;
    border: 1px solid rgb(255, 183, 60);
    border-radius: 5px;
    color: #000000;
    font-size: 1rem;
}

#registro-boton {
    padding: 10px;
    background-color: #ff6f00;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#registro-boton:hover {
    background-color: #f89500;
}

#registro-error {
    margin-top: 15px;
    color: red;
    text-align: center;
}
