#casa-playa-pu .imagen-detalle {
        overflow: visible !important;
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        max-width: 600px;
        height: auto;
    }

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}



    #casa-playa-pu .titulo-detalle {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#casa-playa-pu p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
}

#casa-playa-pu strong {
    font-weight: bold;
    color: #f89500;
}

#casa-playa-pu .precio-base {
    font-size: 1.5rem;
    color: #ff6600;
    margin-top: 10px;
}
