.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

.logo-img {
    height: 40px;
}

.navbar-links a {
    color: orange;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    justify-items: center;
}

.navbar-links a:hover {
    text-decoration: underline;
}
