body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
  align-items: center;
}

/* Contenedor principal para las páginas de detalle */
.detalle-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para el contenedor de detalles de propiedad */
.detalle-propiedad {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

/* Título para las páginas de detalle */
.titulo-detalle {
  font-size: 2rem;
  color: #000;
  margin-bottom: 15px;
}

/* Estilos para las imágenes de detalle */
.imagen-detalle {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

/* Estilos para los párrafos de texto */
p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  text-align: left;
}

/* Título principal de las listas o páginas principales */
.titulo {
  font-size: 2.5rem;
  color: #000;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centrar el título principal */
}

/* Estilos generales de contenedor del buscador */
.buscador {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Estilos del input del buscador  */
.input-buscador {
  padding: 0.75rem 1rem;
  width: 90%;
  max-width: 450px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 24px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-buscador:focus {
  border-color: #f89500;
  box-shadow: 0 0 8px rgba(248, 149, 0, 0.3);
}

/* Contenedor de tarjetas propiedades en el listado */
.listado-propiedades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 80vh;
}

/* Estilos para las tarjetas propiedad */
.tarjeta-propiedad {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-propiedad:hover {
  transform: scale(1.05);
}

/* Estilos para las imágenes dentro de tarjetas */
.imagen-propiedad {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Título dentro de tarjetas */
.titulo-propiedad {
  font-size: 1.5rem;
  color: #000;
  margin: 10px 0;
  text-align: center;
}

/* Descripción dentro de tarjetas */
.descripcion-propiedad {
  font-size: 1rem;
  color: #000;
  text-align: left;
}

/* Precio dentro de tarjetas */
.precio-propiedad {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff6600;
  margin: 10px 0;
}

/* "Ver más"  */
.boton-ver-mas {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #f8a711;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.boton-ver-mas:hover {
  background-color: #f89500;
}

/* Mensaje cuando no se encuentran propiedades */
.mensaje-vacio {
  font-size: 1.2rem;
  color: #ff0000;
  margin-top: 20px;
}

/* Estilos generales del contenedor del formulario de login  */
.login-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos generales del formulario de login */
.formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

/* Estilos generales de los inputs de login */
.input-login {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

/* Estilos generales del botón de login */
.boton-login {
  padding: 10px 20px;
  background-color: #f8a711;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-login:hover {
  background-color: #f89500;
}

/* Estilos generales para mensajes de error */
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}